@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
img{
     width: 100%;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
ul{
    list-style-type: none;
}

.nav-item a{
    font-size: 20px;
}

#text-under-cover{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#text-under-cover h1{
    text-align: center;
}

#text-under-cover p{
font-size: 20px;
}

.card{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}


.carousel-item img{
    background-position: center;
   height: 600px;
}

#image-div img{
    height: 100%;
}

#products{
   margin-top: 40px;
   
}

#products h3{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.fa-solid, .fa-brands{
    font-size: 30px;
    color: #ffffff;
   
}

footer{
    margin-top: 20px;
    
}

footer a{
    color: #ffffff;
}

footer a:visited{
    color: #ffffff;
}

.fa-box, .fa-umbrella, .fa-q{
    color: #ffffff;
    font-size: 50px;
    animation: rotate-animation 10s infinite linear;
}

@keyframes fadeIn{
	0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*products*/
#cover{
    background-image: url(../img/cover-products.jpg);
    height: 500px;
    background-position: center;  
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

#cover-text, #cover-text-gallery, #cover-text-contact, #cover-text-author, #cover-text-about{
    text-align: center;
    margin: 0px auto;
    color: #000000;
    background-color: #ffffff86;

   
}

#cover-text h1, #cover-text-gallery h1, #cover-text-contact h1, #cover-text-author h1, #cover-text-about h1{
    font-weight: bold;
}

#cover-text h1{
    font-size: 60px;
}

#product-text{
    font-size: 25px;
}


/*gallery*/
#cover-gallery{
    background-image: url(../img/cover-gallery.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

/*contact*/
#cover-contact{
    background-image: url(..//img/contact-cover.jpg);
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center;
}


/*about*/
#cover-about-us{
    background-image: url(../img/about1-1.jpg);
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

#banner:hover{
    transform: scale(1.1);
    transition: transform .2s;
}

#card-tr:hover{
    transform: scale(1.1);
   
}

/*author*/
#cover-author{
    background-image: url(../img/about-me.jpg);
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}